<% if (page.comments !== false) { %>

  <section id="comments" class="comments">
    <h4>Comments</h4>
    <form id="new-comment" action="comments" method="post">
      <input type="text" name="name" id="name" maxlength="255" placeholder="Name" value=""/>
      <textarea rows="5" cols="5" name="text" id="text" maxlength="<%= config.maxCommentLength %>" placeholder="Comment"></textarea>
      <input type="submit" value="Add comment"/>
    </form>
    
    <% for (var comment of comments) {%>
      <p>
        <strong><%=comment.name %></strong>
        <span><%=comment.text %></span>
      </p>
    <% } %>
  </section>

<% } %>