<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= config.title %></title>
<meta name="author" content="<%= config.author %>">
<meta name="generator" content="<%= config.generatorVersion %>">
<link rel="stylesheet" href="/css/panel.css">
<link rel="icon" type="image/x-icon" href="<%= config.icon %>">